/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

@charset "UTF-8";
/**

	Nav Buttons

**/
.flickity-button-icon {
  display: none; }

.flickity-prev-next-button {
  width: 60px !important;
  height: 60px !important; }

.flickity-button::after,
.flickity-button::before {
  font-family: Flaticon;
  line-height: 60px; }

.flickity-button.next::before {
  content: ""; }

.flickity-button.previous::before {
  content: ""; }

.flickity-rtl .flickity-button.next::before {
  content: ""; }

.flickity-rtl .flickity-button.previous::before {
  content: ""; }

/**

	Nav Styling

**/
.flickity-primary.flickity-selected-cell .carousel-cell.is-selected,
.flickity-primary .flickity-page-dots .dot,
.flickity-primary .flickity-button {
  color: #fff;
  background: #4285F4 !important; }

.flickity-secondary.flickity-selected-cell .carousel-cell.is-selected,
.flickity-secondary .flickity-page-dots .dot,
.flickity-secondary .flickity-button {
  color: #fff;
  background: #6c757d !important; }

.flickity-success.flickity-selected-cell .carousel-cell.is-selected,
.flickity-success .flickity-page-dots .dot,
.flickity-success .flickity-button {
  color: #fff;
  background: #6dbb30 !important; }

.flickity-info.flickity-selected-cell .carousel-cell.is-selected,
.flickity-info .flickity-page-dots .dot,
.flickity-info .flickity-button {
  color: #fff;
  background: #73e7f7 !important; }

.flickity-warning.flickity-selected-cell .carousel-cell.is-selected,
.flickity-warning .flickity-page-dots .dot,
.flickity-warning .flickity-button {
  color: #fff;
  background: #fad776 !important; }

.flickity-danger.flickity-selected-cell .carousel-cell.is-selected,
.flickity-danger .flickity-page-dots .dot,
.flickity-danger .flickity-button {
  color: #fff;
  background: #f64e60 !important; }

.flickity-light.flickity-selected-cell .carousel-cell.is-selected,
.flickity-light .flickity-page-dots .dot,
.flickity-light .flickity-button {
  color: #fff;
  background: #f8f9fa !important; }

.flickity-dark.flickity-selected-cell .carousel-cell.is-selected,
.flickity-dark .flickity-page-dots .dot,
.flickity-dark .flickity-button {
  color: #fff;
  background: #2E2E2E !important; }

.flickity-indigo.flickity-selected-cell .carousel-cell.is-selected,
.flickity-indigo .flickity-page-dots .dot,
.flickity-indigo .flickity-button {
  color: #fff;
  background: #533be2 !important; }

.flickity-purple.flickity-selected-cell .carousel-cell.is-selected,
.flickity-purple .flickity-page-dots .dot,
.flickity-purple .flickity-button {
  color: #fff;
  background: #4c2c92 !important; }

.flickity-pink.flickity-selected-cell .carousel-cell.is-selected,
.flickity-pink .flickity-page-dots .dot,
.flickity-pink .flickity-button {
  color: #fff;
  background: #f92084 !important; }

.flickity-white .flickity-button {
  color: #121212;
  background: #ffffff !important;
  box-shadow: 0 0 25px rgba(140, 152, 164, 0.1); }

.flickity-black .flickity-button {
  color: #ffffff;
  background: #111111 !important; }

.flickity-dark .flickity-button {
  color: #ffffff;
  background: #333333 !important; }

.flickity-button:not(:disabled) {
  opacity: 1 !important; }

.flickity-button:hover {
  transition: all 80ms linear;
  box-shadow: 0 10px 40px 10px rgba(140, 152, 164, 0.175); }

/**

	Dots Styling

*/
/* position dots up a bit */
.flickity-dot-line .flickity-page-dots {
  bottom: -22px; }

/* dots are lines */
.flickity-dot-line .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0; }

/**
	
	Responsive

**/
